.SelectedDestinations {
  #selected_dests {
    clear: both;
    float: left;
    width: 650px;
  }

  .ReactTable .-pagination {height:50px}

  .remove-column {
    background: #ff0000;
    border: outset;
  }

}