#search_results {
  clear: both;
  float: left;
  width: 650px;
}

#search_buttons {
  margin-left: 50px;
  float: left;
}

.ReactTable .-pagination {height:50px}

.add-column {
  background: #66ff33;
  border: outset;
}